/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Pacifico"; */
  font-weight: bolder;
  background: #fff;
}
#container {
  width: 100%;
  height: 100%;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gold;
  color: #fff;
  padding: 20px 35px;
  position: relative;
}

.logo a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fff;
}
.nav-links a:focus {
  border-bottom: 2px solid #fff;
}

/* Hero */
#header {
  height: 80vh;
  width: 100%;
  background-image: url(../assets/nail-hair.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  gap: 15px;
  color: #fff;
}
#header h2 {
  font-size: 3rem;
}
#header p {
  font-size: larger;
  font-weight: bold;
  color: #fff;
}

.btn-contain button {
  outline: none;
  border: none;
  margin-top: 10px;
}
.btn-contain button a {
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 10px;
}
.btn-contain button a:hover {
  color: gold;
  background-color: #fff;
}

/* Featured section */
#feature-container{
    text-align: center;
    width: 100%;
    height: 50lvh;
    padding: 4rem 2rem;
}
.feature-head{
    font-size: 3rem;
    margin-bottom: 20px;
}
.services-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.service-card{
    background: #000;
    width: 350px;
    border-radius: 15px;
    padding: 1.5rem;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.service-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.service-card h3{
    font-size: 15pt;
    color: gold;
}
.service-card p{
    color: #fff;
}

/* --------- MOBILE STYLES ---------- */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: gold;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }
  #header h2{
    font-size: 2rem;
  }
  .nav-links.active {
    display: flex;
  }
  .service-card{
    width: 80%;
  }
}
